<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

</head>

<body class="c5 doc-content">
    <div>
        <p class="c2"><span class="c3"></span></p>
    </div>
    <p class="c4"><span>The source code can be found </span><span class="c0"><a class="c1"
                href="https://gitlab.com/Nikkuss/python_school_stuff/-/blob/main/{{gitfilepath}}">here</a></span><span
            class="c3">.</span></p>
    <p class="c4"><span>A video can be found </span><span class="c0"><a class="c1"
                href="https://gitlab.com/Nikkuss/python_school_stuff/-/blob/main/{{gitvideopath}}">here</a></span><span>&nbsp;
        </span>
    <p class="c2"><span class="c3"></span></p>
    <p class="c4"><span class="c3">(still gonna paste the code here just in case)</span></p>
    <div>
        {{html}}
    </div>
</body>

</html>