<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">import</span> sys
<span style="color: #0000ff">import</span> os



<span style="color: #0000ff">def</span> quiz_parser(data: str):
    quizs = []
    
    <span style="color: #008000"># split the item into a list</span>
    data = data.split(<span style="color: #a31515">&quot;;&quot;</span>)
    <span style="color: #008000"># convert list to string</span>
    <span style="color: #0000ff">for</span> item <span style="color: #0000ff">in</span> data:
        <span style="color: #008000"># create a dict to store the data</span>
        data_dict = {}
        <span style="color: #008000"># join the list into a string</span>
        item = <span style="color: #a31515">&#39;&#39;</span>.join(item)
        <span style="color: #008000"># split the item into a list</span>
        content = item.split(<span style="color: #a31515">&quot;|&quot;</span>)
        <span style="color: #008000"># get the name of the quiz</span>
        name = content[0]
        <span style="color: #008000"># get the questions and answers</span>
        item = content[1]
        <span style="color: #008000"># split the item into a list</span>
        item = item.split(<span style="color: #a31515">&quot;:&quot;</span>)
        <span style="color: #008000"># catch index errors</span>
        <span style="color: #0000ff">try</span>:

            <span style="color: #008000"># split the items into a list of 2s</span>
            items = [item[i:i + 2] <span style="color: #0000ff">for</span> i <span style="color: #0000ff">in</span> range(0, len(item), 2)]
            <span style="color: #008000"># loop through the items</span>
            <span style="color: #0000ff">for</span> item <span style="color: #0000ff">in</span> items:
                data_dict[item[0]] = item[1]
            answer = <span style="color: #a31515">&quot;&quot;</span>
            questions = []
            <span style="color: #0000ff">for</span> key <span style="color: #0000ff">in</span> data_dict:
                <span style="color: #0000ff">if</span> key.startswith(<span style="color: #a31515">&quot;a&quot;</span>):
                    answer = data_dict[key]
                <span style="color: #0000ff">else</span>:
                    questions.append(data_dict[key])
            output_dict = {
                <span style="color: #a31515">&quot;name&quot;</span>: name,
                <span style="color: #a31515">&quot;questions&quot;</span>: questions,
                <span style="color: #a31515">&quot;answer&quot;</span>: data_dict[answer]
            }
            quizs.append(output_dict)
        <span style="color: #0000ff">except</span> IndexError:
            <span style="color: #008000"># print an error message</span>
            print(<span style="color: #a31515">&quot;Error: Invalid data&quot;</span>)
            exit(1)
        <span style="color: #0000ff">except</span> KeyError:
            <span style="color: #008000"># print an error message</span>
            print(<span style="color: #a31515">&quot;Error: Invalid data&quot;</span>)
            exit(1)
    
    <span style="color: #0000ff">return</span> quizs
    <span style="color: #0000ff">pass</span>





<span style="color: #008000"># get commandline arguments</span>
<span style="color: #0000ff">if</span> len(sys.argv) &gt; 1:
    arg = sys.argv[1]
<span style="color: #0000ff">else</span>:
    print(<span style="color: #a31515">&quot;Error: No argument given&quot;</span>)
    exit(1)
<span style="color: #008000"># check if the file exists</span>
<span style="color: #0000ff">if</span> os.path.exists(arg):
    path = arg
<span style="color: #0000ff">else</span>:
    print(<span style="color: #a31515">f&quot;Error: No file found at \&quot;{</span>arg<span style="color: #a31515">}\&quot;&quot;</span>)
    exit(1)
<span style="color: #008000"># read the file</span>
<span style="color: #0000ff">with</span> open(path, <span style="color: #a31515">&quot;r&quot;</span>) <span style="color: #0000ff">as</span> file:
    file = file.read()
    <span style="color: #008000"># call the parser</span>
    quizs = quiz_parser(file)

    <span style="color: #008000"># loop through the quizs</span>
    <span style="color: #0000ff">for</span> quiz <span style="color: #0000ff">in</span> quizs:
        <span style="color: #008000"># print the name of the quiz</span>
        print(quiz[<span style="color: #a31515">&quot;name&quot;</span>])
        <span style="color: #008000"># loop through the questions</span>
        <span style="color: #0000ff">for</span> question <span style="color: #0000ff">in</span> enumerate(quiz[<span style="color: #a31515">&quot;questions&quot;</span>], start=1):
            <span style="color: #008000"># print the question with indentation</span>
            print(<span style="color: #a31515">f&quot;{</span>question[0]<span style="color: #a31515">}    {</span>question[1]<span style="color: #a31515">}&quot;</span>)
        tries = 0
        index_answer = quiz[<span style="color: #a31515">&quot;questions&quot;</span>].index(quiz[<span style="color: #a31515">&quot;answer&quot;</span>])
        <span style="color: #008000"># While loop to check if the answer is correct</span>
        <span style="color: #0000ff">while</span> <span style="color: #0000ff">True</span>:
            <span style="color: #008000"># get the answer from the user</span>
            answer = input(<span style="color: #a31515">&quot;Answer: &quot;</span>)
            <span style="color: #008000"># check if the answer is correct</span>
            <span style="color: #0000ff">if</span> answer == quiz[<span style="color: #a31515">&quot;answer&quot;</span>] <span style="color: #0000ff">or</span> answer == str(index_answer + 1):
                <span style="color: #008000"># print a message</span>
                print(<span style="color: #a31515">&quot;Correct!&quot;</span>)
                <span style="color: #008000"># break out of the loop</span>
                <span style="color: #0000ff">break</span>
            <span style="color: #0000ff">else</span>:
                print(<span style="color: #a31515">&quot;Incorrect!&quot;</span>)
                <span style="color: #0000ff">if</span> tries == 2:
                    <span style="color: #008000"># print a message</span>
                    print(<span style="color: #a31515">&quot;Failed!!!&quot;</span>)
                    print(<span style="color: #a31515">&quot;Answer was &quot;</span> + quiz[<span style="color: #a31515">&quot;answer&quot;</span>])
                    <span style="color: #008000"># break out of the loop</span>
                    <span style="color: #0000ff">break</span>
                tries += 1

    print(<span style="color: #a31515">&quot;Thanks for playing!&quot;</span>)
</pre></div>
