<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">from</span> A16.SocialMedia <span style="color: #0000ff">import</span> User
<span style="color: #0000ff">from</span> A16.SocialMedia <span style="color: #0000ff">import</span> UserManager



<span style="color: #0000ff">class</span> <span style="color: #2b91af">AdminUser</span>(User):
    <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">    A class that defines an admin user.</span>
<span style="color: #a31515">    &quot;&quot;&quot;</span>
    <span style="color: #008000"># constructor</span>
    <span style="color: #0000ff">def</span> __init__(self, name, password):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Constructor for the AdminUser class.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        super().__init__(name, password)
        self.admin = <span style="color: #0000ff">False</span>

    <span style="color: #008000"># get admin</span>
    <span style="color: #0000ff">def</span> get_admin(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the user&#39;s admin status.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> (self.admin)

    <span style="color: #008000"># set admin</span>
    <span style="color: #0000ff">def</span> set_admin(self, admin):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Set the user&#39;s admin status.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.admin = admin

<span style="color: #0000ff">class</span> <span style="color: #2b91af">AdminUserManager</span>(UserManager):
    <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">    A class that defines an admin user manager.</span>
<span style="color: #a31515">    &quot;&quot;&quot;</span>
    <span style="color: #008000"># constructor</span>
    <span style="color: #0000ff">def</span> __init__(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Constructor for the AdminUserManager class.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        super().__init__()
        self.admin_users = []

    <span style="color: #008000"># get admin users</span>
    <span style="color: #0000ff">def</span> get_admin_users(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the admin users.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> (self.admin_users)

    <span style="color: #008000"># set admin users</span>
    <span style="color: #0000ff">def</span> set_admin_users(self, admin_users):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Set the admin users.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.admin_users = admin_users

    <span style="color: #008000"># add admin user</span>
    <span style="color: #0000ff">def</span> add_admin_user(self, admin_user):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Add an admin user.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.admin_users.append(admin_user)
        <span style="color: #0000ff">return</span>

usermanager = AdminUserManager()

user = AdminUser(<span style="color: #a31515">&quot;Admin&quot;</span>, <span style="color: #a31515">&quot;test&quot;</span>)
usermanager.add_admin_user(user)
print(usermanager.get_admin_users())
print(user.get_admin())
user.set_admin(<span style="color: #0000ff">True</span>)
print(user.get_admin())
print(usermanager.get_admin_users())
usermanager.set_admin_users([])
print(usermanager.get_admin_users())
</pre></div>
