<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">import</span> tkinter <span style="color: #0000ff">as</span> tk
<span style="color: #0000ff">import</span> os
<span style="color: #0000ff">from</span> tkinter <span style="color: #0000ff">import</span> filedialog

<span style="color: #0000ff">class</span> <span style="color: #2b91af">GameLauncher</span>:
    <span style="color: #0000ff">def</span> __init__(self, master):
        self.master = master
        master.title(<span style="color: #a31515">&quot;Game Launcher&quot;</span>)
        
        <span style="color: #008000"># Create the game buttons</span>
        self.games = [
        ]
        <span style="color: #0000ff">for</span> i, game <span style="color: #0000ff">in</span> enumerate(self.games):
            self.create_button(game[<span style="color: #a31515">&#39;name&#39;</span>], game[<span style="color: #a31515">&#39;filename&#39;</span>], game[<span style="color: #a31515">&#39;image&#39;</span>], i // 2, i % 2)
        
        <span style="color: #008000"># Create the add game button</span>
        self.add_game_button = tk.Button(master, text=<span style="color: #a31515">&#39;Add Game&#39;</span>, width=10, height=2, font=(<span style="color: #a31515">&#39;Arial&#39;</span>, 16), command=self.add_game)
        self.add_game_button.grid(row=len(self.games) // 2 + 1, column=0, columnspan=2, padx=5, pady=5)
        
    <span style="color: #0000ff">def</span> create_button(self, text, filename, image, row, column):
        <span style="color: #008000"># Create the button image</span>
        img = tk.PhotoImage(file=image)
        
        <span style="color: #008000"># Create the button</span>
        button = tk.Button(self.master, text=text, image=img, width=100, height=100, compound=<span style="color: #a31515">&#39;top&#39;</span>, font=(<span style="color: #a31515">&#39;Arial&#39;</span>, 16), command=<span style="color: #0000ff">lambda</span>: self.launch_game(filename))
        button.image = img
        button.grid(row=row, column=column, padx=5, pady=5)
        
    <span style="color: #0000ff">def</span> launch_game(self, filename):
        os.system(<span style="color: #a31515">f&#39;\{</span>filename<span style="color: #a31515">}&#39;</span>)
        
    <span style="color: #0000ff">def</span> add_game(self):
        <span style="color: #008000"># Open the file dialog to select the game executable</span>
        filename = filedialog.askopenfilename(initialdir=<span style="color: #a31515">&#39;.&#39;</span>, title=<span style="color: #a31515">&#39;Select Game Executable&#39;</span>, filetypes=[(<span style="color: #a31515">&#39;Executable&#39;</span>, <span style="color: #a31515">&#39;*&#39;</span>)])
        <span style="color: #0000ff">if</span> filename:
            <span style="color: #008000"># Open the file dialog to select the game image</span>
            image = filedialog.askopenfilename(initialdir=<span style="color: #a31515">&#39;.&#39;</span>, title=<span style="color: #a31515">&#39;Select Game Image&#39;</span>, filetypes=[(<span style="color: #a31515">&#39;Image Files&#39;</span>, <span style="color: #a31515">&#39;*.png&#39;</span>)])
            <span style="color: #0000ff">if</span> image:
                <span style="color: #008000"># Add the game to the list of games</span>
                name = os.path.splitext(os.path.basename(filename))[0]
                self.games.append({<span style="color: #a31515">&#39;name&#39;</span>: name, <span style="color: #a31515">&#39;filename&#39;</span>: filename, <span style="color: #a31515">&#39;image&#39;</span>: image})
                
                <span style="color: #008000"># Create the game button</span>
                self.create_button(name, filename, image, len(self.games) // 2, len(self.games) % 2)
                
    <span style="color: #0000ff">def</span> change_executable(self, index):
        <span style="color: #008000"># Open the file dialog to select the new game executable</span>
        filename = filedialog.askopenfilename(initialdir=<span style="color: #a31515">&#39;.&#39;</span>, title=<span style="color: #a31515">&#39;Select Game Executable&#39;</span>, filetypes=[(<span style="color: #a31515">&#39;Executable&#39;</span>, <span style="color: #a31515">&#39;*&#39;</span>)])
        <span style="color: #0000ff">if</span> filename:
            <span style="color: #008000"># Update the game executable</span>
            self.games[index][<span style="color: #a31515">&#39;filename&#39;</span>] = filename
        
    <span style="color: #0000ff">def</span> change_image(self, index):
        <span style="color: #008000"># Open the file dialog to select the new game image</span>
        image = filedialog.askopenfilename(initialdir=<span style="color: #a31515">&#39;.&#39;</span>, title=<span style="color: #a31515">&#39;Select Game Image&#39;</span>, filetypes=[(<span style="color: #a31515">&#39;Image Files&#39;</span>, <span style="color: #a31515">&#39;*.png&#39;</span>)])
        <span style="color: #0000ff">if</span> image:
            <span style="color: #008000"># Update the game image</span>
            self.games[index][<span style="color: #a31515">&#39;image&#39;</span>] = image
            <span style="color: #008000"># Update the game button image</span>
            img = tk.PhotoImage(file=image)
            button = self.master.grid_slaves(row=index // 2, column=index % 2)[0]
            button.configure(image=img)
            button.image = img
        
root = tk.Tk()
game_launcher = GameLauncher(root)
root.mainloop()
</pre></div>
