<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">import</span> json
<span style="color: #0000ff">import</span> os
<span style="color: #0000ff">import</span> sys

<span style="color: #0000ff">import</span> inspect
<span style="color: #0000ff">import</span> math
<span style="color: #008000"># im going to be reusing the Calculator class from A12/Calculator.py because it has a lot of useful methods and i dont want to rewrite them all</span>
<span style="color: #008000"># it also has a good cli interface that i can reuse for this program</span>

<span style="color: #0000ff">class</span> <span style="color: #2b91af">HighScoreManager</span>():
    <span style="color: #0000ff">def</span> __init__(self):
        self.ignore = [<span style="color: #a31515">&quot;__init__&quot;</span>, <span style="color: #a31515">&quot;commands&quot;</span>, <span style="color: #a31515">&quot;run&quot;</span>]
        self.highscores = {}
        <span style="color: #0000ff">pass</span>

    <span style="color: #0000ff">def</span> commands(self):
        <span style="color: #008000"># create a dict of all the commands</span>
        commands = {}
        <span style="color: #008000"># get all the methods in the class</span>
        methods = inspect.getmembers(self, predicate=inspect.ismethod)
        <span style="color: #008000"># loop through all the methods</span>
        <span style="color: #0000ff">for</span> method <span style="color: #0000ff">in</span> methods:
            <span style="color: #008000"># skip the methods in the ignore list</span>
            <span style="color: #0000ff">if</span> method[0] <span style="color: #0000ff">in</span> self.ignore: <span style="color: #0000ff">continue</span>
            <span style="color: #008000"># get the docs for the method</span>
            docs = inspect.getdoc(method[1])
            <span style="color: #008000"># get the argspec for the method</span>
            argspec = inspect.getfullargspec(method[1])
            <span style="color: #008000"># get the annotations for the method</span>
            annotations = argspec.annotations
            <span style="color: #008000"># get the args from argspec</span>
            args = argspec.args
            <span style="color: #008000"># remove self from the args</span>
            args.remove(<span style="color: #a31515">&quot;self&quot;</span>)
            <span style="color: #008000"># check if the method has any docs</span>
            <span style="color: #0000ff">if</span> docs != <span style="color: #0000ff">None</span>:
                <span style="color: #008000"># add the method to the commands dict</span>
                commands[method[0]] = {
                    <span style="color: #a31515">&quot;docs&quot;</span>: docs,
                    <span style="color: #a31515">&quot;args&quot;</span>: args,
                    <span style="color: #a31515">&quot;annotations&quot;</span>: annotations
                }
        <span style="color: #008000"># set &quot;commands_dict&quot; to commands </span>
        self.commands_dict = commands
        <span style="color: #008000"># return the commands</span>
        <span style="color: #0000ff">return</span> commands
    <span style="color: #0000ff">def</span> run(self,command: str):
        <span style="color: #008000"># strip the command of any spaces at the start or end</span>
        command = command.strip()
        <span style="color: #008000"># split the command into a list</span>
        command = command.split(<span style="color: #a31515">&quot; &quot;</span>)
        <span style="color: #008000"># check if the first element of the command matches any of the commands in the commands dict</span>
        <span style="color: #0000ff">if</span> command[0] <span style="color: #0000ff">in</span> self.commands_dict:

            <span style="color: #008000"># check if the command has the correct number of arguments</span>
            <span style="color: #0000ff">if</span> len(command) - 1 == len(self.commands_dict[command[0]][<span style="color: #a31515">&quot;args&quot;</span>]):
                <span style="color: #008000"># catch math errors</span>
                <span style="color: #0000ff">try</span>:
                    <span style="color: #008000"># check if the command has any annotations</span>
                    <span style="color: #0000ff">if</span> len(self.commands_dict[command[0]][<span style="color: #a31515">&quot;annotations&quot;</span>]) &gt; 0:
                        <span style="color: #008000"># create a list of the annotations</span>
                        annotations = list(self.commands_dict[command[0]][<span style="color: #a31515">&quot;annotations&quot;</span>].values())
                        <span style="color: #008000"># create a list of the arguments</span>
                        args = command[1:]
                        <span style="color: #008000"># create a list of the arguments and annotations</span>
                        args = list(zip(args, annotations))
                        <span style="color: #008000"># create a list of the arguments and annotations that have been converted to the correct type</span>
                        args = [arg[1](arg[0]) <span style="color: #0000ff">for</span> arg <span style="color: #0000ff">in</span> args]
                        <span style="color: #008000"># call the command and pass the arguments</span>
                        print(getattr(self, command[0])(*args))
                    <span style="color: #0000ff">else</span>:
                        <span style="color: #008000"># call the command and pass the arguments</span>
                        print(getattr(self, command[0])(*command[1:]))
                <span style="color: #0000ff">except</span> ValueError <span style="color: #0000ff">as</span> e:
                    <span style="color: #008000"># print an error message</span>
                    print(<span style="color: #a31515">f&quot;Error: {</span>e<span style="color: #a31515">}&quot;</span>)
                <span style="color: #008000"># catch ZeroDivisionError</span>
                <span style="color: #0000ff">except</span> ZeroDivisionError <span style="color: #0000ff">as</span> e:
                    <span style="color: #008000"># print an error message</span>
                    print(<span style="color: #a31515">f&quot;Error: {</span>e<span style="color: #a31515">}&quot;</span>)
            <span style="color: #0000ff">else</span>:
                <span style="color: #008000"># print an error message</span>
                print(<span style="color: #a31515">f&quot;Command \&quot;{</span>command[0]<span style="color: #a31515">}\&quot; takes {</span>len(self.commands_dict[command[0]][<span style="color: #a31515">&#39;args&#39;</span>])<span style="color: #a31515">} arguments, {</span>len(command) - 1<span style="color: #a31515">} given.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #008000"># print an error message</span>
            print(<span style="color: #a31515">f&quot;Error: Command \&quot;{</span>command[0]<span style="color: #a31515">}\&quot; not found.&quot;</span>)


    <span style="color: #008000"># -------------------------------------------------------------------------# COMMANDS BELOW</span>
    <span style="color: #008000"># help</span>
    <span style="color: #0000ff">def</span> help(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Print the help message.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        print(<span style="color: #a31515">&quot;Commands:&quot;</span>)
        <span style="color: #0000ff">for</span> command <span style="color: #0000ff">in</span> self.commands_dict:
            print(<span style="color: #a31515">f&quot;  {</span>command<span style="color: #a31515">}: {</span>self.commands_dict[command][<span style="color: #a31515">&#39;docs&#39;</span>]<span style="color: #a31515">}&quot;</span>)
        <span style="color: #0000ff">return</span> <span style="color: #a31515">&quot;&quot;</span>
    <span style="color: #008000"># quit</span>
    <span style="color: #0000ff">def</span> quit(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Quit the calculator.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        print(<span style="color: #a31515">&quot;Quitting...&quot;</span>)
        exit(0)

    <span style="color: #008000"># read highscores</span>
    <span style="color: #0000ff">def</span> read(self, file):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Read the highscores from a file.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># check if the file exists</span>
        <span style="color: #0000ff">if</span> os.path.exists(file):
            <span style="color: #008000"># read the file</span>
            <span style="color: #0000ff">with</span> open(file, <span style="color: #a31515">&quot;r&quot;</span>) <span style="color: #0000ff">as</span> file:
                <span style="color: #008000"># load the json</span>
                self.highscores = json.load(file)
                <span style="color: #0000ff">return</span> (<span style="color: #a31515">&quot;File read.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #008000"># print an error message</span>
            <span style="color: #0000ff">return</span>(<span style="color: #a31515">f&quot;Error: No file found at \&quot;{</span>file<span style="color: #a31515">}\&quot;&quot;</span>)
    <span style="color: #008000"># write highscores</span>
    <span style="color: #0000ff">def</span> write(self, file):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Write the highscores to a file.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># check if the file exists if it does prompt the user to overwrite it or not</span>
        <span style="color: #0000ff">if</span> os.path.exists(file):
            <span style="color: #008000"># get the user input</span>
            user_input = input(<span style="color: #a31515">f&quot;File \&quot;{</span>file<span style="color: #a31515">}\&quot; already exists, overwrite? (y/n) &quot;</span>)
            <span style="color: #008000"># check if the user input is yes</span>
            <span style="color: #0000ff">if</span> user_input.lower() == <span style="color: #a31515">&quot;y&quot;</span>:
                <span style="color: #008000"># write the file</span>
                <span style="color: #0000ff">with</span> open(file, <span style="color: #a31515">&quot;w&quot;</span>) <span style="color: #0000ff">as</span> file:
                    <span style="color: #008000"># dump the json</span>
                    json.dump(self.highscores, file, indent=4)
                    self.highscores = {}
                    <span style="color: #0000ff">return</span> (<span style="color: #a31515">&quot;File written.&quot;</span>)
            <span style="color: #0000ff">else</span>:
                <span style="color: #008000"># print an error message</span>
                print(<span style="color: #a31515">&quot;Error: File not written.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #008000"># write the file</span>
            <span style="color: #0000ff">with</span> open(file, <span style="color: #a31515">&quot;w&quot;</span>) <span style="color: #0000ff">as</span> file:
                <span style="color: #008000"># dump the json</span>
                json.dump(self.highscores, file, indent=4)
                self.highscores = {}
                <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;File written.&quot;</span>)

    <span style="color: #008000"># show highscores</span>
    <span style="color: #0000ff">def</span> show(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Show the highscores.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># check if there are any highscores</span>
        <span style="color: #0000ff">if</span> len(self.highscores) &gt; 0:
            n = <span style="color: #a31515">&quot;&quot;</span>
            <span style="color: #008000"># print the highscores in a table format</span>
            <span style="color: #0000ff">for</span> index, (name, score) <span style="color: #0000ff">in</span> enumerate(self.highscores.items()):
                n += <span style="color: #a31515">f&quot;{</span>index<span style="color: #a31515">}. {</span>name<span style="color: #a31515">}: {</span>score<span style="color: #a31515">}\n&quot;</span>

            <span style="color: #0000ff">return</span> n
        <span style="color: #0000ff">else</span>:
            <span style="color: #008000"># print an error message</span>
            <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Error: No highscores found.&quot;</span>)

    <span style="color: #008000"># add highscore</span>
    <span style="color: #0000ff">def</span> add(self, name: str, score: int):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Add a highscore.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># check if the name is a string</span>
        <span style="color: #0000ff">if</span> type(name) == str:
            <span style="color: #008000"># check if the score is an int</span>
            <span style="color: #0000ff">if</span> type(score) == int:
                <span style="color: #008000"># add the highscore</span>
                self.highscores[name] = score
                <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Highscore added.&quot;</span>)
            <span style="color: #0000ff">else</span>:
                <span style="color: #008000"># print an error message</span>
                <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Error: Score must be an integer.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #008000"># print an error message</span>
            <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Error: Name must be a string.&quot;</span>)
    <span style="color: #008000"># remove highscore</span>
    <span style="color: #0000ff">def</span> remove(self, name: str):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Remove a highscore.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># check if the name is a string</span>
        <span style="color: #0000ff">if</span> type(name) == str:
            <span style="color: #008000"># check if the name is in the highscores</span>
            <span style="color: #0000ff">if</span> name <span style="color: #0000ff">in</span> self.highscores:
                <span style="color: #008000"># remove the highscore</span>
                <span style="color: #0000ff">del</span> self.highscores[name]
                <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Highscore removed.&quot;</span>)
            <span style="color: #0000ff">else</span>:
                <span style="color: #008000"># print an error message</span>
                <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Error: Name not found.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #008000"># print an error message</span>
            <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Error: Name must be a string.&quot;</span>)
    <span style="color: #008000"># clear highscores</span>
    <span style="color: #0000ff">def</span> clear(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Clear the highscores.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># clear the highscores</span>
        self.highscores = {}
        <span style="color: #0000ff">return</span>(<span style="color: #a31515">&quot;Highscores cleared.&quot;</span>)
    <span style="color: #008000"># -------------------------------------------------------------------------# COMMANDS ABOVE </span>

<span style="color: #0000ff">def</span> loop():

    <span style="color: #008000"># create a new instance of the HighScoreManager class</span>
    calc = HighScoreManager()
    <span style="color: #008000"># get the commands</span>
    commands = calc.commands()
    <span style="color: #008000"># loop forever</span>
    <span style="color: #0000ff">while</span> <span style="color: #0000ff">True</span>:
        <span style="color: #008000"># get the command from the user and run it</span>
        calc.run(input(<span style="color: #a31515">&quot;&gt; &quot;</span>))


<span style="color: #0000ff">if</span> __name__ == <span style="color: #a31515">&quot;__main__&quot;</span>:
    loop()
</pre></div>
