<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">class</span> <span style="color: #2b91af">Game</span>():
    <span style="color: #0000ff">def</span> __init__(self):
        self.board = []
        <span style="color: #0000ff">for</span> _ <span style="color: #0000ff">in</span> range(8):
            xx = []
            <span style="color: #0000ff">for</span> _ <span style="color: #0000ff">in</span> range(8):
                xx.append(<span style="color: #a31515">&quot;*&quot;</span>)
            self.board.append(xx)

    
    <span style="color: #0000ff">def</span> dispaly(self):
        <span style="color: #008000"># a somewhat hacky way to display the board but it works</span>
        <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> enumerate(self.board):
            print(<span style="color: #a31515">&quot;-&quot;</span>*33)
            <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> enumerate(x[1]):
                <span style="color: #0000ff">if</span> y[0] == 0:
                    print(<span style="color: #a31515">f&quot;| {</span>y[1]<span style="color: #a31515">}&quot;</span>, end=<span style="color: #a31515">&quot; | &quot;</span>)
                <span style="color: #0000ff">else</span>:
                    print(y[1], end=<span style="color: #a31515">&quot; | &quot;</span>)
                <span style="color: #0000ff">if</span> y[0] == len(x[1]) - 1:
                    print()
            <span style="color: #0000ff">if</span> x[0] == len(x[1]) -1:
                print(<span style="color: #a31515">&quot;-&quot;</span>*33)

    <span style="color: #0000ff">def</span> start(self):
        print(<span style="color: #a31515">&quot;Starting Game&quot;</span>)
        self.dispaly()


game = Game()
game.start()

<span style="color: #008000"># intentionally using a class here so i can use the same code for the bot and the player later on</span>
</pre></div>
