<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">from</span> datetime <span style="color: #0000ff">import</span> datetime
<span style="color: #0000ff">from</span> dateutil.relativedelta <span style="color: #0000ff">import</span> relativedelta
<span style="color: #008000"># Get Date from user</span>

year = int(input(<span style="color: #a31515">&#39;Enter a year: &#39;</span>))
month = int(input(<span style="color: #a31515">&#39;Enter a month: &#39;</span>))
day = int(input(<span style="color: #a31515">&#39;Enter a day: &#39;</span>))

<span style="color: #008000"># Create a date object from user input</span>

userDate = datetime(year, month, day)

<span style="color: #008000"># Get current date and time</span>

now = datetime.now()

<span style="color: #008000"># Get difference between dates</span>

date = relativedelta(userDate,now)


<span style="color: #008000"># Print the date in the format of YYYYMMDD</span>
print(<span style="color: #a31515">f&quot;{</span>str(date.years).zfill(4)<span style="color: #a31515">}::{</span>str(date.months).zfill(2)<span style="color: #a31515">}::{</span>str(date.days).zfill(2)<span style="color: #a31515">}&quot;</span>)

<span style="color: #008000"># Print the year(s) of the date</span>
print(<span style="color: #a31515">f&quot;Year(s): {</span>date.years<span style="color: #a31515">}&quot;</span>)
<span style="color: #008000"># Print the month(s) of the date</span>
print(<span style="color: #a31515">f&quot;Month(s): {</span>date.months<span style="color: #a31515">}&quot;</span>)
<span style="color: #008000"># Print the day(s) of the date</span>
print(<span style="color: #a31515">f&quot;Day(s): {</span>date.days<span style="color: #a31515">}&quot;</span>)

<span style="color: #008000"># Print the date as a string</span>
print(date)
</pre></div>
