<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">import</span> tkinter <span style="color: #0000ff">as</span> tk

<span style="color: #0000ff">class</span> <span style="color: #2b91af">Calculator</span>:
    <span style="color: #0000ff">def</span> __init__(self, master):
        self.master = master
        master.title(<span style="color: #a31515">&quot;Calculator&quot;</span>)
        
        <span style="color: #008000"># Create the display</span>
        self.display = tk.Entry(master, width=20, font=(<span style="color: #a31515">&#39;Arial&#39;</span>, 16))
        self.display.grid(row=0, column=0, columnspan=4, padx=5, pady=5)
        
        <span style="color: #008000"># Create the buttons</span>
        self.create_button(<span style="color: #a31515">&#39;7&#39;</span>, 1, 0)
        self.create_button(<span style="color: #a31515">&#39;8&#39;</span>, 1, 1)
        self.create_button(<span style="color: #a31515">&#39;9&#39;</span>, 1, 2)
        self.create_button(<span style="color: #a31515">&#39;/&#39;</span>, 1, 3)
        self.create_button(<span style="color: #a31515">&#39;4&#39;</span>, 2, 0)
        self.create_button(<span style="color: #a31515">&#39;5&#39;</span>, 2, 1)
        self.create_button(<span style="color: #a31515">&#39;6&#39;</span>, 2, 2)
        self.create_button(<span style="color: #a31515">&#39;*&#39;</span>, 2, 3)
        self.create_button(<span style="color: #a31515">&#39;1&#39;</span>, 3, 0)
        self.create_button(<span style="color: #a31515">&#39;2&#39;</span>, 3, 1)
        self.create_button(<span style="color: #a31515">&#39;3&#39;</span>, 3, 2)
        self.create_button(<span style="color: #a31515">&#39;-&#39;</span>, 3, 3)
        self.create_button(<span style="color: #a31515">&#39;0&#39;</span>, 4, 0)
        self.create_button(<span style="color: #a31515">&#39;.&#39;</span>, 4, 1)
        self.create_button(<span style="color: #a31515">&#39;=&#39;</span>, 4, 2)
        self.create_button(<span style="color: #a31515">&#39;+&#39;</span>, 4, 3)
        
        <span style="color: #008000"># Create the clear button</span>
        self.create_button(<span style="color: #a31515">&#39;C&#39;</span>, 5, 0, columnspan=2)
        
    <span style="color: #0000ff">def</span> create_button(self, text, row, column, columnspan=1):
        button = tk.Button(self.master, text=text, width=5, height=2, font=(<span style="color: #a31515">&#39;Arial&#39;</span>, 16), command=<span style="color: #0000ff">lambda</span>: self.button_click(text))
        button.grid(row=row, column=column, columnspan=columnspan, padx=5, pady=5)
        
    <span style="color: #0000ff">def</span> button_click(self, text):
        <span style="color: #0000ff">if</span> text == <span style="color: #a31515">&#39;C&#39;</span>:
            self.display.delete(0, tk.END)
        <span style="color: #0000ff">elif</span> text == <span style="color: #a31515">&#39;=&#39;</span>:
            <span style="color: #0000ff">try</span>:
                result = eval(self.display.get())
                self.display.delete(0, tk.END)
                self.display.insert(0, result)
            <span style="color: #0000ff">except</span>:
                self.display.delete(0, tk.END)
                self.display.insert(0, <span style="color: #a31515">&#39;Error&#39;</span>)
        <span style="color: #0000ff">else</span>:
            self.display.insert(tk.END, text)
        
root = tk.Tk()
calculator = Calculator(root)
root.mainloop()
</pre></div>
