<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #008000"># only going to be the classes because im gonig to expand on them in A16</span>

<span style="color: #0000ff">class</span> <span style="color: #2b91af">User</span>:
    <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">    A class that defines a user.</span>
<span style="color: #a31515">    &quot;&quot;&quot;</span>
    <span style="color: #008000"># constructor</span>
    <span style="color: #0000ff">def</span> __init__(self, name, password):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Constructor for the User class.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.name = name
        self.password = password
        self.friends = []

    <span style="color: #008000"># add friend</span>
    <span style="color: #0000ff">def</span> add_friend(self, friend):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Add a friend to the user.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">if</span> friend <span style="color: #0000ff">not</span> <span style="color: #0000ff">in</span> self.friends:
            self.friends.append(friend)
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>friend<span style="color: #a31515">} added.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>friend<span style="color: #a31515">} already exists.&quot;</span>)

    <span style="color: #008000"># remove friend</span>
    <span style="color: #0000ff">def</span> remove_friend(self, friend):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Remove a friend from the user.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">if</span> friend <span style="color: #0000ff">in</span> self.friends:
            self.friends.remove(friend)
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>friend<span style="color: #a31515">} removed.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>friend<span style="color: #a31515">} does not exist.&quot;</span>)

    <span style="color: #008000"># show friends</span>
    <span style="color: #0000ff">def</span> show_friends(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Show the user&#39;s friends.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">if</span> len(self.friends) &gt; 0:
            n = <span style="color: #a31515">&quot;&quot;</span>
            <span style="color: #0000ff">for</span> friend <span style="color: #0000ff">in</span> self.friends:
                n += <span style="color: #a31515">f&quot;{</span>friend<span style="color: #a31515">}\n&quot;</span>
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>self.name<span style="color: #a31515">}&#39;s friends:\n{</span>n<span style="color: #a31515">}&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>self.name<span style="color: #a31515">} has no friends.&quot;</span>)

    <span style="color: #008000"># get name</span>
    <span style="color: #0000ff">def</span> get_name(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the user&#39;s name.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> (self.name)

    <span style="color: #008000"># get password</span>
    <span style="color: #0000ff">def</span> get_password(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the user&#39;s password.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> (self.password)

    <span style="color: #008000"># get friends</span>
    <span style="color: #0000ff">def</span> get_friends(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the user&#39;s friends.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> (self.friends)

    <span style="color: #008000"># set name</span>
    <span style="color: #0000ff">def</span> set_name(self, name):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Set the user&#39;s name.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.name = name
        <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;Name set to {</span>self.name<span style="color: #a31515">}.&quot;</span>)

    <span style="color: #008000"># set password</span>
    <span style="color: #0000ff">def</span> set_password(self, password):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Set the user&#39;s password.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.password = password
        <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;Password set to {</span>self.password<span style="color: #a31515">}.&quot;</span>)

    <span style="color: #008000"># set friends</span>
    <span style="color: #0000ff">def</span> set_friends(self, friends):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Set the user&#39;s friends.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.friends = friends
        <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;Friends set to {</span>self.friends<span style="color: #a31515">}.&quot;</span>)

<span style="color: #0000ff">class</span> <span style="color: #2b91af">UserManager</span>:

    <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">    A class that defines a user manager.</span>
<span style="color: #a31515">    &quot;&quot;&quot;</span>
    <span style="color: #008000"># constructor</span>
    <span style="color: #0000ff">def</span> __init__(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Constructor for the UserManager class.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.users = []

    <span style="color: #008000"># add user</span>
    <span style="color: #0000ff">def</span> add_user(self, user):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Add a user to the user manager.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">if</span> user <span style="color: #0000ff">not</span> <span style="color: #0000ff">in</span> self.users:
            self.users.append(user)
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>user<span style="color: #a31515">} added.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>user<span style="color: #a31515">} already exists.&quot;</span>)

    <span style="color: #008000"># remove user</span>
    <span style="color: #0000ff">def</span> remove_user(self, user):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Remove a user from the user manager.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">if</span> user <span style="color: #0000ff">in</span> self.users:
            self.users.remove(user)
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>user<span style="color: #a31515">} removed.&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>user<span style="color: #a31515">} does not exist.&quot;</span>)

    <span style="color: #008000"># show users</span>
    <span style="color: #0000ff">def</span> show_users(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Show the users in the user manager.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">if</span> len(self.users) &gt; 0:
            n = <span style="color: #a31515">&quot;&quot;</span>
            <span style="color: #0000ff">for</span> user <span style="color: #0000ff">in</span> self.users:
                n += <span style="color: #a31515">f&quot;{</span>user<span style="color: #a31515">}\n&quot;</span>
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>self.name<span style="color: #a31515">}&#39;s users:\n{</span>n<span style="color: #a31515">}&quot;</span>)
        <span style="color: #0000ff">else</span>:
            <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;{</span>self.name<span style="color: #a31515">} has no users.&quot;</span>)

    <span style="color: #008000"># get users</span>
    <span style="color: #0000ff">def</span> get_users(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the users in the user manager.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> (self.users)

    <span style="color: #008000"># set users</span>
    <span style="color: #0000ff">def</span> set_users(self, users):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Set the users in the user manager.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        self.users = users
        <span style="color: #0000ff">return</span> (<span style="color: #a31515">f&quot;Users set to {</span>self.users<span style="color: #a31515">}.&quot;</span>)
</pre></div>
