<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">import</span> inspect
<span style="color: #0000ff">import</span> math
<span style="color: #008000"># this class is a bit long since each operation needs to be defined </span>
<span style="color: #008000"># im really happy with how this turned out</span>
<span style="color: #008000"># it uses a lot of python magic to get the docs and args for each method and then uses that to generate the help message</span>
<span style="color: #008000"># it also uses the annotations to convert the arguments to the correct type</span>

<span style="color: #0000ff">class</span> <span style="color: #2b91af">Calculator</span>():
    <span style="color: #0000ff">def</span> __init__(self):
        <span style="color: #0000ff">pass</span>

    <span style="color: #0000ff">def</span> commands(self):
        <span style="color: #008000"># create a dict of all the commands</span>
        commands = {}
        <span style="color: #008000"># get all the methods in the class</span>
        methods = inspect.getmembers(self, predicate=inspect.ismethod)
        <span style="color: #008000"># loop through all the methods</span>
        <span style="color: #0000ff">for</span> method <span style="color: #0000ff">in</span> methods:
            <span style="color: #008000"># skip the __init__ method</span>
            <span style="color: #0000ff">if</span> method[0] == <span style="color: #a31515">&quot;__init__&quot;</span>: <span style="color: #0000ff">continue</span>
            <span style="color: #008000"># get the docs for the method</span>
            docs = inspect.getdoc(method[1])
            <span style="color: #008000"># get the argspec for the method</span>
            argspec = inspect.getfullargspec(method[1])
            <span style="color: #008000"># get the annotations for the method</span>
            annotations = argspec.annotations
            <span style="color: #008000"># get the args from argspec</span>
            args = argspec.args
            <span style="color: #008000"># remove self from the args</span>
            args.remove(<span style="color: #a31515">&quot;self&quot;</span>)
            <span style="color: #008000"># check if the method has any docs</span>
            <span style="color: #0000ff">if</span> docs != <span style="color: #0000ff">None</span>:
                <span style="color: #008000"># add the method to the commands dict</span>
                commands[method[0]] = {
                    <span style="color: #a31515">&quot;docs&quot;</span>: docs,
                    <span style="color: #a31515">&quot;args&quot;</span>: args,
                    <span style="color: #a31515">&quot;annotations&quot;</span>: annotations
                }
        <span style="color: #008000"># set &quot;commands_dict&quot; to commands </span>
        self.commands_dict = commands
        <span style="color: #008000"># return the commands</span>
        <span style="color: #0000ff">return</span> commands
    <span style="color: #0000ff">def</span> run(self,command: str):
        <span style="color: #008000"># strip the command of any spaces at the start or end</span>
        command = command.strip()
        <span style="color: #008000"># split the command into a list</span>
        command = command.split(<span style="color: #a31515">&quot; &quot;</span>)
        <span style="color: #008000"># check if the first element of the command matches any of the commands in the commands dict</span>
        <span style="color: #0000ff">if</span> command[0] <span style="color: #0000ff">in</span> self.commands_dict:

            <span style="color: #008000"># check if the command has the correct number of arguments</span>
            <span style="color: #0000ff">if</span> len(command) - 1 == len(self.commands_dict[command[0]][<span style="color: #a31515">&quot;args&quot;</span>]):
                <span style="color: #008000"># catch math errors</span>
                <span style="color: #0000ff">try</span>:
                    <span style="color: #008000"># check if the command has any annotations</span>
                    <span style="color: #0000ff">if</span> len(self.commands_dict[command[0]][<span style="color: #a31515">&quot;annotations&quot;</span>]) &gt; 0:
                        <span style="color: #008000"># create a list of the annotations</span>
                        annotations = list(self.commands_dict[command[0]][<span style="color: #a31515">&quot;annotations&quot;</span>].values())
                        <span style="color: #008000"># create a list of the arguments</span>
                        args = command[1:]
                        <span style="color: #008000"># create a list of the arguments and annotations</span>
                        args = list(zip(args, annotations))
                        <span style="color: #008000"># create a list of the arguments and annotations that have been converted to the correct type</span>
                        args = [arg[1](arg[0]) <span style="color: #0000ff">for</span> arg <span style="color: #0000ff">in</span> args]
                        <span style="color: #008000"># call the command and pass the arguments</span>
                        print(getattr(self, command[0])(*args))
                    <span style="color: #0000ff">else</span>:
                        <span style="color: #008000"># call the command and pass the arguments</span>
                        print(getattr(self, command[0])(*command[1:]))
                <span style="color: #0000ff">except</span> ValueError <span style="color: #0000ff">as</span> e:
                    <span style="color: #008000"># print an error message</span>
                    print(<span style="color: #a31515">f&quot;Error: {</span>e<span style="color: #a31515">}&quot;</span>)
                <span style="color: #008000"># catch ZeroDivisionError</span>
                <span style="color: #0000ff">except</span> ZeroDivisionError <span style="color: #0000ff">as</span> e:
                    <span style="color: #008000"># print an error message</span>
                    print(<span style="color: #a31515">f&quot;Error: {</span>e<span style="color: #a31515">}&quot;</span>)
            <span style="color: #0000ff">else</span>:
                <span style="color: #008000"># print an error message</span>
                print(<span style="color: #a31515">f&quot;Command \&quot;{</span>command[0]<span style="color: #a31515">}\&quot; takes {</span>len(self.commands_dict[command[0]][<span style="color: #a31515">&#39;args&#39;</span>])<span style="color: #a31515">} arguments, {</span>len(command) - 1<span style="color: #a31515">} given.&quot;</span>)



    <span style="color: #008000"># -------------------------------------------------------------------------# COMMANDS BELOW</span>
    <span style="color: #008000"># help</span>
    <span style="color: #0000ff">def</span> help(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Print the help message.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        print(<span style="color: #a31515">&quot;Commands:&quot;</span>)
        <span style="color: #0000ff">for</span> command <span style="color: #0000ff">in</span> self.commands_dict:
            print(<span style="color: #a31515">f&quot;  {</span>command<span style="color: #a31515">}: {</span>self.commands_dict[command][<span style="color: #a31515">&#39;docs&#39;</span>]<span style="color: #a31515">}&quot;</span>)
    <span style="color: #008000"># quit</span>
    <span style="color: #0000ff">def</span> quit(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Quit the calculator.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        print(<span style="color: #a31515">&quot;Quitting...&quot;</span>)
        exit(0)


    <span style="color: #008000"># add </span>
    <span style="color: #0000ff">def</span> add(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Add 2 numbers together.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> a + b

    <span style="color: #008000"># subtract</span>
    <span style="color: #0000ff">def</span> sub(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Subtract 2 numbers.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> a - b

    <span style="color: #008000"># multiply</span>
    <span style="color: #0000ff">def</span> mul(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Multiply 2 numbers together.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> a * b

    <span style="color: #008000"># divide</span>
    <span style="color: #0000ff">def</span> div(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Divide 2 numbers.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> a / b
    <span style="color: #008000"># power</span>
    <span style="color: #0000ff">def</span> pow(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Raise a number to the power of another number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> a ** b
    <span style="color: #008000"># root</span>
    <span style="color: #0000ff">def</span> root(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the root of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> a ** (1 / b)
    <span style="color: #008000"># factorial</span>
    <span style="color: #0000ff">def</span> factorial(self, a: int):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the factorial of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.factorial(a)
    <span style="color: #008000"># log</span>
    <span style="color: #0000ff">def</span> log(self, a: float, b: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the log of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.log(a, b)
    <span style="color: #008000"># sin</span>
    <span style="color: #0000ff">def</span> sin(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the sin of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.sin(a)
    <span style="color: #008000"># cos</span>
    <span style="color: #0000ff">def</span> cos(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the cos of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.cos(a)
    <span style="color: #008000"># tan</span>
    <span style="color: #0000ff">def</span> tan(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the tan of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.tan(a)
    <span style="color: #008000"># arcsin</span>
    <span style="color: #0000ff">def</span> arcsin(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the arcsin of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.asin(a)
    <span style="color: #008000"># arccos</span>
    <span style="color: #0000ff">def</span> arccos(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the arccos of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.acos(a)
    <span style="color: #008000"># arctan</span>
    <span style="color: #0000ff">def</span> arctan(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the arctan of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.atan(a)
    <span style="color: #008000"># sinh</span>
    <span style="color: #0000ff">def</span> sinh(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the sinh of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.sinh(a)
    <span style="color: #008000"># cosh</span>
    <span style="color: #0000ff">def</span> cosh(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the cosh of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.cosh(a)
    <span style="color: #008000"># tanh</span>
    <span style="color: #0000ff">def</span> tanh(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the tanh of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.tanh(a)
    <span style="color: #008000"># arcsinh</span>
    <span style="color: #0000ff">def</span> arcsinh(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the arcsinh of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.asinh(a)
    <span style="color: #008000"># arccosh</span>
    <span style="color: #0000ff">def</span> arccosh(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the arccosh of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.acosh(a)
    <span style="color: #008000"># arctanh</span>
    <span style="color: #0000ff">def</span> arctanh(self, a: float):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the arctanh of a number.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.atanh(a)
    <span style="color: #008000"># pi</span>
    <span style="color: #0000ff">def</span> pi(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Get the value of pi.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">return</span> math.pi




<span style="color: #0000ff">def</span> loop():
    print(<span style="color: #a31515">&quot;Welcome to the calculator!&quot;</span>)
    <span style="color: #008000"># create a new instance of the calculator class</span>
    calc = Calculator()
    <span style="color: #008000"># get the commands</span>
    commands = calc.commands()
    <span style="color: #008000"># loop forever</span>
    <span style="color: #0000ff">while</span> <span style="color: #0000ff">True</span>:
        <span style="color: #008000"># get the command from the user and run it</span>
        calc.run(input(<span style="color: #a31515">&quot;&gt; &quot;</span>))


<span style="color: #0000ff">if</span> __name__ == <span style="color: #a31515">&quot;__main__&quot;</span>:
    loop()
</pre></div>
