<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">import</span> pygame, sys
<span style="color: #0000ff">from</span> pygame.locals <span style="color: #0000ff">import</span> *
<span style="color: #0000ff">import</span> time
pygame.font.init()
pygame.init()

<span style="color: #008000">#             R    G    B #</span>
WHITE    = (255, 255, 255)<span style="color: #008000">#</span>
BLUE     = (  0,   0, 255)<span style="color: #008000">#</span>
RED      = (255,   0,   0)<span style="color: #008000">#</span>
BLACK    = (  0,   0,   0)<span style="color: #008000">#</span>
GOLD     = (255, 215,   0)<span style="color: #008000">#</span>
HIGH     = (160, 190, 255)<span style="color: #008000">#</span>
GREEN    = (  0, 255,   0)<span style="color: #008000">#</span>
ORANGE   = (255, 165,   0)<span style="color: #008000">#</span>

<span style="color: #0000ff">class</span> <span style="color: #2b91af">Board</span>:
    <span style="color: #0000ff">def</span> __init__(self):
        self.fps = 60
        self.clock = pygame.time.Clock()
        self.turn = BLUE


        self.window_size = 600
        self.screen = pygame.display.set_mode((self.window_size, self.window_size))

        self.selected = <span style="color: #0000ff">None</span>
        self.selected_pos = <span style="color: #0000ff">None</span>
        self.square_size = self.window_size &gt;&gt; 3
        self.piece_size = self.square_size &gt;&gt; 3

        self.possible_moves = []
	
		<span style="color: #008000"># initialize squares and place them in matrix</span>

        matrix = [[<span style="color: #0000ff">None</span>] * 8 <span style="color: #0000ff">for</span> i <span style="color: #0000ff">in</span> range(8)]

        <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> range(8):
            <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> range(8):
                <span style="color: #0000ff">if</span> (x % 2 != 0) <span style="color: #0000ff">and</span> (y % 2 == 0):
                    matrix[y][x] = Tile(WHITE)
                <span style="color: #0000ff">elif</span> (x % 2 != 0) <span style="color: #0000ff">and</span> (y % 2 != 0):
                    matrix[y][x] = Tile(BLACK)
                <span style="color: #0000ff">elif</span> (x % 2 == 0) <span style="color: #0000ff">and</span> (y % 2 != 0):
                    matrix[y][x] = Tile(WHITE)
                <span style="color: #0000ff">elif</span> (x % 2 == 0) <span style="color: #0000ff">and</span> (y % 2 == 0): 
                    matrix[y][x] = Tile(BLACK)

        <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> range(8):
            <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> range(3):
                <span style="color: #0000ff">if</span> matrix[x][y].color == BLACK:
                    matrix[x][y].occupant = Piece(RED)
            <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> range(5, 8):
                <span style="color: #0000ff">if</span> matrix[x][y].color == BLACK:
                    matrix[x][y].occupant = Piece(BLUE)
        self.matrix = matrix
        
					
    <span style="color: #0000ff">def</span> render(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Render the board.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># draw the board</span>
        <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> range(8):
            <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> range(8):
                pygame.draw.rect(self.screen, self.matrix[x][y].color, (x * self.square_size, y * self.square_size, self.square_size, self.square_size))
                <span style="color: #0000ff">if</span> self.matrix[x][y].occupant != <span style="color: #0000ff">None</span>:
                    pygame.draw.circle(self.screen, self.matrix[x][y].occupant.color, (x * self.square_size + self.square_size / 2, y * self.square_size + self.square_size / 2), self.square_size / 2)

    <span style="color: #0000ff">def</span> game_loop(self):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        The main game loop.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #0000ff">while</span> <span style="color: #0000ff">True</span>:
            <span style="color: #008000"># count colors</span>
            red = 0
            blue = 0
            <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> range(8):
                <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> range(8):
                    <span style="color: #0000ff">if</span> self.matrix[x][y].occupant != <span style="color: #0000ff">None</span>:
                        <span style="color: #0000ff">if</span> self.matrix[x][y].occupant.color == RED:
                            red += 1
                        <span style="color: #0000ff">elif</span> self.matrix[x][y].occupant.color == BLUE:
                            blue += 1
            <span style="color: #0000ff">if</span> red == 0:
                <span style="color: #008000"># display blue wins in the middle of the screen uisng pygame.font</span>
                font = pygame.font.SysFont(<span style="color: #a31515">&#39;Arial&#39;</span>, 100)
                text = font.render(<span style="color: #a31515">&#39;Blue Wins!&#39;</span>, <span style="color: #0000ff">True</span>, BLUE)
                textRect = text.get_rect()
                textRect.center = (self.window_size // 2, self.window_size // 2)
                self.screen.blit(text, textRect)
                pygame.display.update()
                <span style="color: #0000ff">break</span>
            <span style="color: #0000ff">elif</span> blue == 0:
                <span style="color: #008000"># display red wins in the middle of the screen uisng pygame.font</span>
                font = pygame.font.SysFont(<span style="color: #a31515">&#39;Arial&#39;</span>, 100)
                text = font.render(<span style="color: #a31515">&#39;Red Wins!&#39;</span>, <span style="color: #0000ff">True</span>, RED)
                textRect = text.get_rect()
                textRect.center = (self.window_size // 2, self.window_size // 2)
                self.screen.blit(text, textRect)
                pygame.display.update()
                <span style="color: #0000ff">break</span>

            
            mouse = pygame.mouse.get_pos()
            mouse_board = self.mouse_to_board(mouse)
            hovered = self.matrix[mouse_board[0]][mouse_board[1]].occupant
            self.clock.tick(self.fps)
            self.render()
            pygame.display.update()
            <span style="color: #0000ff">for</span> event <span style="color: #0000ff">in</span> pygame.event.get():
                <span style="color: #0000ff">if</span> event.type == pygame.MOUSEBUTTONDOWN:
                    <span style="color: #0000ff">if</span> hovered != <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> self.turn == hovered.color :
                            self.selected = hovered
                            self.selected_pos = mouse_board
                            self.clear_moves()
                            <span style="color: #0000ff">if</span> self.selected_pos != <span style="color: #0000ff">None</span>:
                                self.possible_moves = self.valid_moves(self.selected, self.selected_pos, self.turn)
                                <span style="color: #0000ff">for</span> move <span style="color: #0000ff">in</span> self.possible_moves:
                                    <span style="color: #0000ff">if</span> move[2] == <span style="color: #0000ff">False</span>:
                                        self.matrix[move[0]][move[1]].occupant = Piece(GREEN)
                                    <span style="color: #0000ff">else</span>:
                                        self.matrix[move[0]][move[1]].occupant = Piece(ORANGE)
                    <span style="color: #0000ff">elif</span> hovered != <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> hovered.color == GREEN:
                        self.clear_moves()
                        self.matrix[self.selected_pos[0]][self.selected_pos[1]].occupant = <span style="color: #0000ff">None</span>
                        self.matrix[mouse_board[0]][mouse_board[1]].occupant = Piece(self.turn)
                        self.turn = BLUE <span style="color: #0000ff">if</span> self.turn == RED <span style="color: #0000ff">else</span> RED
                        self.selected = <span style="color: #0000ff">None</span>
                        self.selected_pos = <span style="color: #0000ff">None</span>
                    <span style="color: #0000ff">elif</span> hovered != <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> hovered.color == ORANGE:
                        self.clear_moves()
                        self.matrix[self.selected_pos[0]][self.selected_pos[1]].occupant = <span style="color: #0000ff">None</span>
                        self.matrix[mouse_board[0]][mouse_board[1]].occupant = Piece(self.turn)
                        self.matrix[(self.selected_pos[0] + mouse_board[0]) // 2][(self.selected_pos[1] + mouse_board[1]) // 2].occupant = <span style="color: #0000ff">None</span>
                        self.turn = BLUE <span style="color: #0000ff">if</span> self.turn == RED <span style="color: #0000ff">else</span> RED
                        self.selected = <span style="color: #0000ff">None</span>
                        self.selected_pos = <span style="color: #0000ff">None</span>
                    <span style="color: #0000ff">else</span>:
                        self.clear_moves()
                        self.selected = <span style="color: #0000ff">None</span>
                        self.selected_pos = <span style="color: #0000ff">None</span>
                <span style="color: #0000ff">if</span> event.type == pygame.QUIT:
                    pygame.quit()
                    sys.exit()
        time.sleep(5)
        pygame.quit()
        sys.exit()
    <span style="color: #0000ff">def</span> clear_moves(self):
        <span style="color: #008000"># remove all green squares</span>
        <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> range(8):
            <span style="color: #0000ff">for</span> y <span style="color: #0000ff">in</span> range(8):
                <span style="color: #0000ff">if</span> self.matrix[x][y].occupant != <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> self.matrix[x][y].occupant.color == GREEN <span style="color: #0000ff">or</span> self.matrix[x][y].occupant != <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> self.matrix[x][y].occupant.color == ORANGE:
                    self.matrix[x][y].occupant = <span style="color: #0000ff">None</span>

    <span style="color: #0000ff">def</span> mouse_to_board(self, moise_pos: tuple):
        <span style="color: #0000ff">return</span> (moise_pos[0] // self.square_size, moise_pos[1] // self.square_size)


    <span style="color: #0000ff">def</span> valid_moves(self, piece, pos, color):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Given a piece and its position, returns a list of valid moves.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        direction = 1 <span style="color: #0000ff">if</span> color == RED <span style="color: #0000ff">else</span> -1
        moves = []
        row = pos[0]
        col = pos[1]
        
        <span style="color: #008000"># get all tiles around the piece</span>
        top_left = self.matrix[row - 1][col - 1] <span style="color: #0000ff">if</span> row &gt; 0 <span style="color: #0000ff">and</span> col &gt; 0 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>
        top_right = self.matrix[row - 1][col + 1] <span style="color: #0000ff">if</span> row &gt; 0 <span style="color: #0000ff">and</span> col &lt; 7 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>
        bottom_left = self.matrix[row + 1][col - 1] <span style="color: #0000ff">if</span> row &lt; 7 <span style="color: #0000ff">and</span> col &gt; 0 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>
        bottom_right = self.matrix[row + 1][col + 1] <span style="color: #0000ff">if</span> row &lt; 7 <span style="color: #0000ff">and</span> col &lt; 7 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>

        top_left_2 = self.matrix[row - 2][col - 2] <span style="color: #0000ff">if</span> row &gt; 1 <span style="color: #0000ff">and</span> col &gt; 1 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>
        top_right_2 = self.matrix[row - 2][col + 2] <span style="color: #0000ff">if</span> row &gt; 1 <span style="color: #0000ff">and</span> col &lt; 6 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>
        bottom_left_2 = self.matrix[row + 2][col - 2] <span style="color: #0000ff">if</span> row &lt; 6 <span style="color: #0000ff">and</span> col &gt; 1 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>
        bottom_right_2 = self.matrix[row + 2][col + 2] <span style="color: #0000ff">if</span> row &lt; 6 <span style="color: #0000ff">and</span> col &lt; 6 <span style="color: #0000ff">else</span> <span style="color: #0000ff">None</span>

        <span style="color: #008000">#</span>
        <span style="color: #0000ff">if</span> top_left_2 <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_left_2.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_left <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_left.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_left.occupant.color != color <span style="color: #0000ff">and</span> direction == -1:
            moves.append((row - 2, col - 2, <span style="color: #0000ff">True</span>))
        <span style="color: #0000ff">if</span> top_right_2 <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_right_2.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_right <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_right.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_right.occupant.color != color <span style="color: #0000ff">and</span> direction == 1:
            moves.append((row - 2, col + 2, <span style="color: #0000ff">True</span>))
        <span style="color: #0000ff">if</span>  bottom_left_2 <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_left_2.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_left <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_left.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_left.occupant.color != color <span style="color: #0000ff">and</span> direction == -1:
            moves.append((row + 2, col - 2, <span style="color: #0000ff">True</span>))
        <span style="color: #0000ff">if</span> bottom_right_2 <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_right_2.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_right <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_right.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_right.occupant.color != color <span style="color: #0000ff">and</span> direction == 1:
            moves.append((row + 2, col + 2, <span style="color: #0000ff">True</span>))

        <span style="color: #008000"># check if the piece can move to the top left</span>
        <span style="color: #0000ff">if</span> top_left <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_left.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> direction == -1:
            moves.append((row - 1, col - 1, <span style="color: #0000ff">False</span>))
        <span style="color: #008000"># check if the piece can move to the top right</span>
        <span style="color: #0000ff">if</span> top_right <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> top_right.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> direction == 1:
            moves.append((row - 1, col + 1, <span style="color: #0000ff">False</span>))
        <span style="color: #008000"># check if the piece can move to the bottom left</span>
        <span style="color: #0000ff">if</span> bottom_left <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_left.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> direction == -1:
            moves.append((row + 1, col - 1, <span style="color: #0000ff">False</span>))
        <span style="color: #008000"># check if the piece can move to the bottom right</span>
        <span style="color: #0000ff">if</span> bottom_right <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> bottom_right.occupant <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">and</span> direction == 1:
            moves.append((row + 1, col + 1, <span style="color: #0000ff">False</span>))
        <span style="color: #0000ff">return</span> moves

    <span style="color: #0000ff">def</span> valid_move(self, piece, start, end):
        <span style="color: #a31515">&quot;&quot;&quot;</span>
<span style="color: #a31515">        Given a piece, its starting position, and its ending position, returns True if the move is valid, False otherwise.</span>
<span style="color: #a31515">        &quot;&quot;&quot;</span>
        <span style="color: #008000"># Check if the piece is moving in the correct direction</span>
        <span style="color: #0000ff">if</span> piece.color == RED:
            <span style="color: #0000ff">if</span> end[0] &lt; start[0]:
                <span style="color: #0000ff">return</span> <span style="color: #0000ff">False</span>
        <span style="color: #0000ff">elif</span> piece.color == BLUE:
            <span style="color: #0000ff">if</span> end[0] &gt; start[0]:
                <span style="color: #0000ff">return</span> <span style="color: #0000ff">False</span>
        
        <span style="color: #008000"># Check if the move is diagonal</span>
        <span style="color: #0000ff">if</span> abs(end[0] - start[0]) != abs(end[1] - start[1]):
            <span style="color: #0000ff">return</span> <span style="color: #0000ff">False</span>
        
        <span style="color: #008000"># Check if the move is within the board boundaries</span>
        <span style="color: #0000ff">if</span> end[0] &lt; 0 <span style="color: #0000ff">or</span> end[0] &gt; 7 <span style="color: #0000ff">or</span> end[1] &lt; 0 <span style="color: #0000ff">or</span> end[1] &gt; 7:
            <span style="color: #0000ff">return</span> <span style="color: #0000ff">False</span>
        
        <span style="color: #008000"># Check if the destination square is empty</span>
        <span style="color: #0000ff">if</span> self.matrix[end[0]][end[1]] <span style="color: #0000ff">is</span> <span style="color: #0000ff">not</span> <span style="color: #0000ff">None</span>:
            <span style="color: #0000ff">return</span> <span style="color: #0000ff">False</span>
        
        <span style="color: #008000"># Check if the move is a capture</span>
        <span style="color: #0000ff">if</span> abs(end[0] - start[0]) == 2:
            <span style="color: #008000"># Calculate the position of the captured piece</span>
            captured_row = (start[0] + end[0]) // 2
            captured_col = (start[1] + end[1]) // 2
            captured_piece = self.matrix[captured_row][captured_col]
            
            <span style="color: #008000"># Check if the captured piece belongs to the opposite player</span>
            <span style="color: #0000ff">if</span> captured_piece <span style="color: #0000ff">is</span> <span style="color: #0000ff">None</span> <span style="color: #0000ff">or</span> captured_piece.color == piece.color:
                <span style="color: #0000ff">return</span> <span style="color: #0000ff">False</span>
        
        <span style="color: #008000"># All checks passed, the move is valid</span>
        <span style="color: #0000ff">return</span> <span style="color: #0000ff">True</span>

<span style="color: #0000ff">class</span> <span style="color: #2b91af">Piece</span>:
	<span style="color: #0000ff">def</span> __init__(self, color: tuple):
		self.color = color

<span style="color: #0000ff">class</span> <span style="color: #2b91af">Tile</span>:
	<span style="color: #0000ff">def</span> __init__(self, color, occupant: Piece = <span style="color: #0000ff">None</span>):
		self.color = color <span style="color: #008000"># color is either BLACK or WHITE</span>
		self.occupant = occupant <span style="color: #008000"># occupant is a Square object</span>
board = Board()
board.render()
board.game_loop()
</pre></div>
