<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #0000ff">from</span> random <span style="color: #0000ff">import</span> sample
<span style="color: #0000ff">import</span> requests

NEGATIVE_WORDS = [<span style="color: #a31515">&quot;worst&quot;</span>, <span style="color: #a31515">&quot;bad&quot;</span>, <span style="color: #a31515">&quot;without&quot;</span>] <span style="color: #008000"># this would need more tweeking for better results but it works good enough for now</span>


<span style="color: #0000ff">def</span> clear():
    <span style="color: #a31515">&quot;&quot;&quot;Clear the screen.&quot;&quot;&quot;</span>
    print(<span style="color: #a31515">&quot;\033[H\033[J&quot;</span>)<span style="color: #008000"># this is a special character that clears the screen</span>

<span style="color: #0000ff">def</span> get_question():
    <span style="color: #a31515">&quot;&quot;&quot;Return a random question.&quot;&quot;&quot;</span>
    print(<span style="color: #a31515">&quot;Generating question...&quot;</span>)
    html = requests.get(<span style="color: #a31515">&quot;https://www.conversationstarters.com/random.php&quot;</span>).text <span style="color: #008000"># not my site but was one of the first results on google</span>
    question = html.split(<span style="color: #a31515">&quot;&gt;&quot;</span>)[1] <span style="color: #008000"># this is a bit of a hack but it works</span>
    <span style="color: #0000ff">return</span> question

<span style="color: #008000"># function to generate positive answers</span>
<span style="color: #0000ff">def</span> generate_positive(question):
    <span style="color: #008000"># some magic to tell if a question is positive or negative</span>

    <span style="color: #008000"># check if question contains any elements of &quot;NEGATIVE_WORDS&quot;</span>

    positive = <span style="color: #0000ff">not</span> any([x <span style="color: #0000ff">in</span> question <span style="color: #0000ff">for</span> x <span style="color: #0000ff">in</span> NEGATIVE_WORDS])

    <span style="color: #0000ff">if</span> positive:
        <span style="color: #0000ff">return</span> generate_positive_answer()
    <span style="color: #0000ff">else</span>:
        <span style="color: #0000ff">return</span> generate_negative_answer()


<span style="color: #0000ff">def</span> generate_negative_answer():
    <span style="color: #a31515">&quot;&quot;&quot;Generate a negative answer.&quot;&quot;&quot;</span>
    negatives = [<span style="color: #a31515">&quot;How so?&quot;</span>, <span style="color: #a31515">&quot;How come?&quot;</span>, ] <span style="color: #008000"># this is a bit short but it works</span>
    <span style="color: #0000ff">return</span> sample(negatives, 1)[0]

<span style="color: #0000ff">def</span> generate_positive_answer():
    <span style="color: #a31515">&quot;&quot;&quot;Generate a positive answer.&quot;&quot;&quot;</span>
    positives = [<span style="color: #a31515">&quot;That sounds great!&quot;</span>, <span style="color: #a31515">&quot;Wonderfull!&quot;</span>, <span style="color: #a31515">&quot;I agree!&quot;</span>, <span style="color: #a31515">&quot;I think so too!&quot;</span>, <span style="color: #a31515">&quot;I agree with you!&quot;</span>, <span style="color: #a31515">&quot;I think that&#39;s a great idea!&quot;</span>, ] <span style="color: #008000"># this could be expanded</span>
    <span style="color: #0000ff">return</span> sample(positives, 1)[0]




<span style="color: #0000ff">while</span> <span style="color: #0000ff">True</span>:
    <span style="color: #0000ff">try</span>:
        clear()
        q = get_question()
        print(q)
        user_input = input(<span style="color: #a31515">&quot;&gt; &quot;</span>)
        <span style="color: #0000ff">if</span> user_input == <span style="color: #a31515">&quot;quit&quot;</span>:
            <span style="color: #0000ff">break</span>
        print(generate_positive(q))
        input(<span style="color: #a31515">&quot;Press enter to continue...&quot;</span>)
    <span style="color: #0000ff">except</span> KeyboardInterrupt:
        <span style="color: #0000ff">break</span>
</pre></div>
