<div style="background: #ffffff; width:100vw"><pre style="margin: 0; line-height: 125%;"><span></span><span style="color: #008000"># square root function</span>
<span style="color: #0000ff">def</span> root_method_1(max: int = 1):
    roots = []
    <span style="color: #0000ff">for</span> i <span style="color: #0000ff">in</span> range(1, max+1):
        roots.append((i, i ** 2))
    <span style="color: #0000ff">return</span> roots

<span style="color: #0000ff">def</span> root_method_2(max: int = 1):
    <span style="color: #0000ff">return</span> [(i, i ** 2) <span style="color: #0000ff">for</span> i <span style="color: #0000ff">in</span> range(1, max+1)]

<span style="color: #008000"># loop and get input unitl the user types quits</span>
<span style="color: #0000ff">while</span> <span style="color: #0000ff">True</span>:
    <span style="color: #0000ff">try</span>:
        user_input = input(<span style="color: #a31515">&quot;&gt; &quot;</span>)
        <span style="color: #0000ff">if</span> user_input == <span style="color: #a31515">&quot;quit&quot;</span>:
            <span style="color: #0000ff">break</span>
        <span style="color: #008000"># convert the input to an int</span>
        user_input = int(user_input)
        print(<span style="color: #a31515">f&quot;Method 1: {</span>root_method_1(user_input)<span style="color: #a31515">}&quot;</span>)
        print(<span style="color: #a31515">f&quot;Method 2: {</span>root_method_2(user_input)<span style="color: #a31515">}&quot;</span>)
    <span style="color: #0000ff">except</span> ValueError:
        print(<span style="color: #a31515">&quot;Please enter a number&quot;</span>)

    <span style="color: #0000ff">except</span> KeyboardInterrupt:
        <span style="color: #0000ff">break</span>
</pre></div>
